<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Registration Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="background-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
        <div class="signup-container">
        <h1>Sign Up </h1>
        <form id="signupform" autocomplete="on" method="POST" action="{{url_for('home.signup')}}">
            <label for="first">First Name:</label>
            <input type="text" id="first" name="first" maxlength="30" required />

            <label for="last">Last Name:</label>
            <input type="text" id="last" name="last" maxlength="30" required />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$" 
                   title="Password must contain at least one number, 
                           one alphabet, one symbol, and be at 
                           least 8 characters long" required />

            <label for="repassword">Re-type Password:</label>
            <input type="password" id="repassword" name="repassword" required />

            <label for="address">Address :</label>
            <textarea id="address" name="address" minlength="30" required></textarea>

        
        <div class="options">
            <div class="hobby">
            <label for="first">hobbies:</label>
            <span class="hobbies">
            <input type="checkbox" id="music" name="hobbies" value="music">
            Music<br><br>
            </span>
            <span class="hobbies">
            <input type="checkbox" id="dance" name="hobbies" value="dance">
            Dance<br><br>
            </span>
            <span class="hobbies">
            <input type="checkbox" id="badminton" name="hobbies" value="badminton">
            Badminton
            </span>  
            </div>
            <div class="gender">
            <label for="first">Gender:</label>
             <span class="hobbies">
            <input type="radio" id="gender" name="gender" value="male" required>
            Male <br><br>
            </span>
            <span class="hobbies">
            <input type="radio" id="gender" name="gender" value="female">
             Female <br><br>
            </span> 
            </div>      
        </div>
        <span style="display: inline-flex;margin-bottom: 3rem;">
        <input type="checkbox" id="t&c" name="t&c" value="t&c">  
        <label for="tandc" style="color: rgb(223, 92, 92);">  I read and agree to terms and conditions</label>
        </span>
            <button type="submit">
                Submit
            </button>
        </form>
    </div>
<script>
    document.getElementById("signupform").addEventListener("submit",(e) => {
        const hobcheked = document.querySelectorAll("input[name='hobbies']:checked").length > 0;
        if (!hobcheked)  {
            alert("select at least one hobbie");
            e.preventDefault();
            return ;
        }
        const pass = document.getElementById("password").value;
        const repass = document.getElementById("repassword").value;
        if (pass!=repass){
            alert("Password and Re-typed Password must be same")
            e.preventDefault();
            return;
        }
        const tchecked = document.querySelectorAll("input[name='t&c']:checked").length > 0;
        if (!tchecked )  {
            alert("Accept the terms & Conditions");
            e.preventDefault();
            return ;
        }
    })
</script>
</body>

</html>